*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
}
*::selection{
	color:black;
	background-color:white;
}

body{
	background-color:black;
	
	
}

/*Estilização do titulo principal*/
H1{
	background-color:white;
	position:relative;
	left:200px;
	font-family:monospace;
	text-align:center;
	font-size:30px;
	border-right:4px solid;
	width:40ch;
	white-space:nowrap;
	overflow:hidden;
	animation:typing 2s steps(40),blinking 0.5s infinite step-end alternate;
	text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
	
}
/*typing*/
@keyframes typing{
	from{
		width:0;
	
		
		
	}
		
}
/*blinking*/
@keyframes blinking{
50%{
border-color:transparent;
}	
	
}

/*Cabeçalho*/

.cabecalho{
	height:200px;
	width:100%;
	display:flex;
	align-items:center;
	text-align:center;
	background-image:url("https://i1.wp.com/i.giphy.com/media/gU25raLP4pUu4/giphy-downsized.gif?w=770&ssl=1");
	
}


.text1{
	text-align:center;
	font-size:20px;
	color:white;
	margin:30px;
	
}

.text2{
	text-align:center;
	font-size:20px;
	color:white;
	margin:20px;
	
}

button{
	width:130px; height:40px;
	font-size:15px;
	border-radius:12% ;
	background-color:#7FFFD4
	
}


a{
	color:black;
	
	
}
a:hover {

 text-shadow:0 0 0.2em gray, 0 0 0.2em gray,
0 0 0.2em black;}


h2{
	text-align:center;
	color:black;
	font-size:40px;
	text-shadow: 0 0 0.2em white, 0 0 0.2em white,
        0 0 0.2em white;
}

img{
	width:500px;
	height:300px;
	margin:10px;
}


p{
	COLOR:white;
	font-size:30px;
	
}

.homi{
	transition: transform .5s;
	filter:grayscale(9.5);
	
}
.homi:hover{
	transform:scale(1.1);
filter:none;
	
}

.final{
	display:flex;
	justify-content:center;
	align-items:center;
}
mark{
background-color:green;	
}


footer{
	width:100%;
	text-align:center;
	color:white;
	background-color:green;

}

.ai{
	color:pink;
}